<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find samk_robowar_world)/world/arena.world"/>
    <arg name="gui" value="true" />
    <arg name="paused" value="false" />
    <arg name="verbose" value="true" />
    <!-- more default parameters can be changed here -->
  </include>

  <include file="$(find robot5)/launch/spawn_robot5.launch">
  </include>
  <include file="$(find robot1)/launch/spawn_robot1.launch">
  </include>
</launch>
